
.res_tit {background-repeat: no-repeat; height: 160px; background-size: contain; background-position: right top; margin-bottom: 12px;}
.res_tit .tit {font-size: 20px; font-weight: 700; line-height: 30px; padding-left:4px}
.res_tit .desc {font-size: 14px; line-height: 22px; margin-top:8px; padding-left:4px;}

.res_tit.bg01 {background-image: url(../img/contents/res_bg01.png);}
.res_tit.bg02 {background-image: url(../img/contents/res_bg02.png);}
.res_tit.bg03 {background-image: url(../img/contents/res_bg03.png);}

.insur_tab {display: flex;margin: 0 -5px;}
.insur_tab li {flex: 1; text-align: center; margin: 0 5px;}
.insur_tab li a {position: relative; display: block; height: 220px; background: #FFF; border: 1px solid #ECEEF0; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04); border-radius: 12px;}
.insur_tab li a .tit {position: absolute; width: 100%; top: 20px; font-size: 18px; font-weight: 700; line-height: 28px; }
.insur_tab li a .tit::before {display: block; content: ''; width: 32px; height: 32px; background: url(../img/contents/ico_chkB.png) no-repeat center; background-size: contain; margin: 0 auto 4px; }
.insur_tab li a .txt_wrap {position: absolute; top: 108px; width: 100%;}
.insur_tab li a .txt {font-size: 12px; line-height: 18px; color: #50555C; margin-bottom: 8px;}
.insur_tab li a .btn {display: inline-block; min-width: 72px; height: 36px; line-height: 36px; padding: 0 18px; box-sizing: border-box; background: #D4D7DC; border-radius: 40px; font-weight: 700; color: #fff; }
.insur_tab li a .ex_txt {display: none; font-size: 11px; line-height: 18px; color: #50555C; margin-top: 8px;}

.insur_tab li.on a {border-color: #50555C; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);}
.insur_tab li.on a .tit::before {background-image: url(../img/contents/ico_chkB_on.png);}
.insur_tab li.on .btn {background: #50555C;}
.insur_tab li.on a .ex_txt {display: block;}
.insur_tab li.on a .type .btn {background: #FA4E29;}
.insur_tab li.on a .type .ex_txt {color: #FA4E29;}

.insur_tab.one li a {height: 106px;}
.insur_tab.one li a .tit {top: 38px; left: 40px; width: auto;}
.insur_tab.one li a .tit::before {display: inline-block; vertical-align: middle;}
.insur_tab.one li a .txt_wrap {width: auto; top: 22px; right: 37px;}
.insur_tab.one li a .txt {padding-top: 44px;}
.insur_tab.one  li a .btn {position: absolute; width: 100%; top: 0; left: 50%; transform: translateX(-50%);}
.insur_tab.one li a .ex_txt {margin-top: -12px;}
.insur_tab.one li.on a .txt_wrap {top: 18px;} 

.insur_link {text-align: center; margin-top: 24px;}
.insur_link::before {display: inline-block; content: ''; vertical-align: middle; width: 20px; height: 20px; background: url(../img/contents/ico_link.png) no-repeat; background-size: contain; margin-right: 1px;}
.insur_link a {font-size: 14px; line-height: 22px; text-decoration: underline; }

.add_list li { height: 72px; padding: 0 20px; background: #FFF; border: 1px solid #ECEEF0; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04); border-radius: 12px; }
.add_list li + li {margin-top: 16px;}
.add_list li .add_tit {position: relative; height: 72px; padding: 20px 0; box-sizing: border-box;}
.add_list li .add_tit > span, .push_toggle {position:absolute; top: 50%; transform: translateY(-50%);} 
.add_list li .add_tit > span {left: -4px; font-size: 18px; font-weight: 700; line-height: 28px;}
.add_list li .add_tit > span img {width: 32px; vertical-align: middle;}

.push_toggle {right: 0; width:60px; height:32px; border-radius:16px; background:#ECEEF0; border: 1px solid #D4D7DC; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; }
.push_toggle span{position:absolute; top: 3px; left: 3px; width: 24px; height: 24px; background:#fff; border: 1px solid #D4D7DC; border-radius: 100%; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out;}
.push_toggle.on {background:#FA4E29;}
.push_toggle.on span {left: 32px;}

.add_list li.active {height: auto; border-color: #50555C; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);}
.item_wrap {min-height: 48px; padding: 20px 0; border-top: 1px solid #ECEEF0; border-bottom: 1px solid #ECEEF0;}
.item_list .li {position: relative;}
.item_list .li::after {display: block; content: ''; clear: both;}
.item_wrap .item_list .li + .li {margin-top: 20px;}
.item_wrap .fl {float: left;}
.item_wrap .fr {float: right;}
.item_wrap .item_img {display: inline-block; width: 48px; height: 48px; margin-right: 8px;}
.item_wrap .item_img img {max-width: 100%;}
.item_wrap .item_txt {display: inline-block;}
.item_txt dl dt {font-size: 14px; line-height: 22px; font-weight: 700;}
.item_txt dl dd {font-size: 11px; line-height: 16px;}
.item_txt p {font-size: 11px; line-height: 16px; color: #858B93;}

.numcontrol {position: relative; width: 100px; height: 32px; border: 1px solid #ECEEF0; border-radius: 16px; }
.numcontrol input[type="button"]{position: absolute; top: 0; width: 30px; height: 30px; font-size: 0; border-radius: 100%; cursor: pointer;background-repeat: no-repeat; background-position: center; background-size: 30px; background-color: #fff; border:none !important;}
.numcontrol .btn_minus {left: 0; background-image: url(../img/contents/btn_minus.png); }
.numcontrol .btn_plus {right: 0; background-image: url(../img/contents/btn_plus.png);}
input.count { width: 100%; height: 30px; padding: 0 32px; background: #f9f9f9; border-radius: 30px; border:none !important; text-align: center; font-size: 16px;
font-weight: 700; line-height: 24px; color: #50555C;}

.item_total {padding: 16px 0 24px; text-align: right;}
.item_total span {font-size: 12px; line-height: 18px;}
.item_total span strong {font-size: 16px; font-weight: 700; line-height: 24px;}
.item_total p {font-size: 11px; line-height: 16px; color: #858B93;}


.form_row .ex_box {margin-top: 8px;}
.form_row .ex_box .txt {font-size: 12px; line-height: 18px; color: #858B93; margin-top: 4px;}

.license_img { margin:20px auto; overflow: hidden;}
.license_img img {width: 100%;object-fit: cover;}
.licence_btn {text-align: center; margin-bottom: 40px;}
.btn_license {display: inline-block; width: calc(100% - 20px); max-width: 295px; height: 48px; line-height: 47px; background: #FFF; border: 1px solid #50555C; border-radius: 24px; font-size: 14px; text-align: center; box-sizing: border-box; }
.btn_license::before {position: relative; top: -1px; display: inline-block; vertical-align: middle; content: ''; width: 20px; height: 20px; background: url(../img/contents/ico_camera.png) no-repeat center; background-size: 20px; margin-right: 6px;}

.res_part_wrap {border-bottom: 1px solid #ECEEF0; padding-bottom: 40px;}
.res_part_list li {min-height: 72px; padding: 24px; background: #FFF; border: 1px solid #ECEEF0; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04); border-radius: 12px; box-sizing: border-box;}
.res_part_list li::after {display: block;content: '';clear: both;}
.res_part_list li + li {margin-top: 16px;}
.res_part_list li .tit {float:left;width:100%;}
.res_part_list li strong {font-weight: 700; line-height: 24px;}
.res_part_list li p {font-size: 12px; line-height: 18px; color: #858B93;}
.res_part_list li span {float: right; font-size: 14px; line-height: 22px;}
.res_part_list li span a {text-decoration: underline;}
.res_part_list li.disabled {background: #F7F7F9; box-shadow: none; color: #B5B9C0;}
.res_ex_txt {font-size: 14px; line-height: 22px; color: #858B93; margin-top: 24px;}

.push_wrap {position: relative; border-bottom: 1px solid #ECEEF0; padding: 24px 20px 40px 24px;}
.push_wrap dl dt {font-size: 18px; font-weight: 700; line-height: 28px;}
.push_wrap dl dd {font-size: 12px; line-height: 18px; color: #50555C; margin-top: 4px;}
.push_wrap .push_toggle {right: 20px;}

.sub_title.type .h3_desc {color: #50555C; margin-top: 4px;}
.res_part_list li.on {min-height: 96px; border: 1px solid #50555C; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04);}
.res_part_list li.on span a {margin-left: 16px;}






/************************************************************************************/



/* 지점선택 */
.layerPopup_heading{border-bottom: 1px solid #B5B9C0;}
.layerPopup_heading.boder_n{border: none;}
.layerPopup_heading.map_height{height: 68px;}
.layerPopup_heading .search_input{display: flex; height: 32px; align-items: center; justify-content: space-between; margin-top: 18px;}
.layerPopup_heading .search_input input{border: none; padding: 0; width: 80%; height: 32px; font-weight: 400;}
.layerPopup_heading .search_input input::placeholder{font-size: 18px; line-height: 32px; font-weight: 400;}
.layerPopup_heading .search_input .icon_cancel_m{display: inline-block; width: 20px; height: 20px; background:#50555C url(../img/common/ico_cancel_search_12x12.png)no-repeat center center / 8px; border-radius: 100%;}
.layerPopup_heading .search_input .icon_search_m{display: inline-block; width: 20px; height: 20px; background: url(../img/common/ico_modal_search.png)no-repeat center center / 18px;}

.layerPopup_content.pd_n{padding: 0;}
.layerPopup_content.bg{position: relative; background: #F7F7F9; box-shadow: inset 0 20px 7px -9px rgb(0 0 0 / 4%);}
.layerPopup_content.bg2{position: relative; background: #F7F7F9; box-shadow: inset 0 20px 7px -9px rgb(0 0 0 / 4%)}
.layerPopup_content.bg2.sdw{position: relative;}
.layerPopup_content.bg2.sdw::before{content: ""; position: absolute; width: 100%; height: 8px; background: linear-gradient( to bottom, #F7F7F9, #000 ); left: 0; bottom: -1px; opacity: 0.03;}
.select_list_wrap .spot_btns .spot_titles{display: flex; justify-content: space-between; height: 22px; align-items: center; margin-bottom: 8px;}
.select_list_wrap .spot_btns .spot_titles p{font-size: 14px; font-weight: 700; color: #2E3033;}
.select_list_wrap .spot_btns .spot_titles span{font-size: 12px; font-weight: 400; color: #858B93;}
.select_list_wrap .spot_btns .spot_btn_list{display: flex; width: 113%; overflow: hidden;}
.select_list_wrap .spot_btns .spot_btn_list li{margin-left: 6px;}
.select_list_wrap .spot_btns .spot_btn_list li:first-child{margin-left: 0;}
.select_list_wrap .spot_btns .spot_btn_list li a{display: flex; justify-content: space-between; align-items: center; padding: 7px 10px; border: 1px solid #CDDFE4; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04); border-radius: 8px; box-sizing: border-box;}
.select_list_wrap .spot_btns .spot_btn_list .jeju_btn a{width: 110px; background: #DFF3F8;}
.select_list_wrap .spot_btns .spot_btn_list .yeosu_btn a{width: 64px; background: #FFF2DA;}
.select_list_wrap .spot_btns .spot_btn_list .incheon_btn a{width: 113px; background: #ECEEF0;}
.select_list_wrap .spot_btns .spot_btn_list .gyeongju_btn a{width: 65px; background: #FAE5EA;}
.select_list_wrap .spot_btns .spot_btn_list li a span{display: inline-block; font-size: 14px; line-height: 22px; font-weight: 400; color: #000;}
.select_list_wrap .spot_btns .spot_btn_list li a em{display: inline-block; font-size: 11px; color: #FA4E29; padding-top: 2px;}
.select_list_wrap .spot_btns .spot_btn_list li a::before{content: ''; display: inline-block; width: 14px; height: 22px; background-size: 14px;}
.select_list_wrap .spot_btns .spot_btn_list li:nth-child(2) a::before{content: ''; display: inline-block; width: 15px; height: 15px; background-size: 15px;}
.select_list_wrap .spot_btns .spot_btn_list li .ico_jeju::before{background: url(../img/contents/ico_jeju.png)no-repeat center / 14px;}
.select_list_wrap .spot_btns .spot_btn_list li:nth-child(2) .ico_yeosu::before{background: url(../img/contents/ico_yeosu.png)no-repeat center / 15px;}
.select_list_wrap .spot_btns .spot_btn_list li .ico_incheon::before{background: url(../img/contents/ico_incheon.png)no-repeat center / 14px;}
.select_list_wrap .spot_btns .spot_btn_list li .ico_gyeongju::before{background: url(../img/contents/ico_gyeongju.png)no-repeat center / 14px;}

.spot_result_wrap .result_title{font-size: 12px; font-weight: 400;}
.spot_result_wrap .result_list{margin-top: 8px;}
.spot_result_wrap .result_list li{display: flex; justify-content: space-between; background: #FFFFFF; border-radius: 8px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04); border: 1px solid #ECEEF0; height: 48px; padding: 13px 20px 13px 12px; margin-bottom: 10px; align-items: center; justify-content: space-between;}
.spot_result_wrap .result_list li:last-child{margin-bottom: 0;}
.spot_result_wrap .result_list li .navi_rtext{display: flex;}


.spot_result_wrap .result_list li .navi_rtext p{margin-left: 10.67px; font-size: 14px; font-weight: 700;}
.spot_result_wrap .result_list li .navi_rtext span{margin-left: 6px; color: #858B93; font-size: 12px;}
.spot_result_wrap .result_list li .navi_map_link a{font-size: 12px; color: #50555C; text-decoration-line: underline;}
.spot_result_wrap .non_result{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);  text-align: center; font-size: 14px; color: #858B93; line-height: 22px;}

.spot_text_group{padding: 32px 24px 0 20px;}
.spot_text_group .spot_title{display: flex; align-items: center;}
.spot_text_group .spot_title h4{font-size: 20px; color: #2E3033; font-weight: 700;}
.spot_text_group .spot_title span{font-size: 14px; color: #858B93; display: inline-block; margin-left: 8px;}
.spot_text_sb{margin-top: 16px;}
.spot_text_sb ul li{display: flex; justify-content: space-between; margin-bottom: 20px;}
.spot_text_sb ul li:last-child{margin-bottom: 0;}
.spot_text_sb ul li .left_txt p{font-size: 12px; font-weight: 700; color: #858B93;}
.spot_text_sb ul li .left_txt span{display: block; font-size: 14px; color: #2E3033;}
.spot_text_sb ul li .left_txt em{color: #50555C; display: inline-block; padding-left: 8px;}
.spot_text_sb ul li .right_btn a{display: inline-block; padding: 6px 10px; height: 30px; background: #F7F7F9; border: 1px solid #ECEEF0; border-radius: 12px; font-size: 12px; font-weight: 700;color: #858B93;}
.spot_text_sb ul li .right_btn{padding-top: 5px;}
.spot_text_group .spot_btn_wrap{text-align: center; margin-top: 44px;}
.spot_text_group .spot_btn_wrap a{display: inline-block; text-align: center; padding: 13px 0 15px 0; width: 295px; height: 56px; background: linear-gradient(91.04deg, #F35B5B 1.64%, rgba(254, 83, 45, 0.84) 116.61%); border-radius: 12px; font-size: 18px; font-weight: 700; color: #FFFFFF; line-height: 28px;}

.layerPopup_bottom .select_list_wrap{padding:12px 0 44px 0;}
.layerPopup.bottom .layerPopup_bottom.sdw{position: relative;}


/* 지점 아코디언 메뉴 */
.accordion_wrap{margin-top: 32px;}
.accordion_wrap .acc_title{font-size: 14px; font-weight: 700;}
.accordion_wrap .que{position: relative; display: flex; height: 48px; margin-top: 8px; padding: 11px 20px 13px 24px; cursor: pointer; background: #FFFFFF; border: 1px solid #ECEEF0; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04); border-radius: 8px;}
.accordion_wrap .que:first-child{margin-top: 0;}
.accordion_wrap .regi_name{font-size: 16px; line-height: 24px; margin-right: 10px;}
.accordion_wrap .que.on{background: #50555C; border-radius: 8px 8px 0px 0px;}
.accordion_wrap .que .regi_box{background: #ECEEF0; font-size: 12px; border-radius: 4px; padding: 2px 6px; display: inline-block; margin-right: 6px;}
.accordion_wrap .que .regi_box:last-child{margin-right: 0;}
.accordion_wrap .que.on .regi_name{color: #fff;}
.accordion_wrap .anw { display: none; overflow: hidden; font-size: 14px; background: #FFFFFF; padding: 20px 20px 40px 20px; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05); border-radius: 0px 0px 8px 8px;}
.accordion_wrap .arrow-wrap {position: absolute; top: 15px; right: 32px;}
.accordion_wrap .que .arrow-top {display: none;}
.accordion_wrap .que .arrow-bottom {display: block;}
.accordion_wrap .que.on .arrow-bottom {display: none;}
.accordion_wrap .que.on .arrow-top {display: block;}
.accordion_wrap .que span::after{position: absolute; content: ''; display: inline-block; width: 16px; height: 16px; background-size: 9.33px 4.67px;}
.accordion_wrap .que .arrow-top::after{background: url(../img/contents/ico_acoo_w.png)no-repeat center;}
.accordion_wrap .que .arrow-bottom::after{background: url(../img/contents/ico_acoo_b.png)no-repeat center;}

.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_map_title{font-size: 14px; color: #2E3033;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group{margin-top: 24px;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group:first-child{margin-top: 0;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li{height: 42px; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ECEEF0; margin-bottom: 10px;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li:last-child{margin-bottom: 0;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li .navi_rtext{display: flex; justify-content: space-between; align-items: center;}

.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li .navi_rtext p{margin-left: 10.67px; font-size: 14px; font-weight: 700;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li .navi_rtext span{margin-left: 6px; color: #858B93; font-size: 12px;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li .navi_map_link a{font-size: 12px; color: #50555C; text-decoration-line: underline;}

/* 아이콘 백그라운드 처리 */
.navi_rtext::before{content: ''; display: inline-block; width: 15px; height: 15px;}
.ico_map_org::before{background: url(../img/contents/ico_map_org.png)no-repeat center/ 16px;}
.ico_train_org::before{background: url(../img/contents/ico_train_org.png)no-repeat center/ 16px;}

/* 차량목록 */
.day_selbox .day_wrap{position: relative; height: 70px; background-color: #fff;}
.left_years{position: absolute; left: 0; bottom: 0;}
.left_years a{display: flex; background-color: #fff; flex-direction: column; padding: 10.5px 8.08px 16.5px 24.06px;}
.left_years a .month_txt{position: relative; display: block; width: 41.88px; padding-left: 2.12px; font-size: 32px; font-family: 'Noto Sans KR'; font-weight: 500; font-style: normal;}
.left_years a .month_txt::after{position: absolute; content: ""; right: 5.83px; top: 13.33px; width: 8.33px; height: 4.17px; background: url(../img/common/ico_month_arrow.png)no-repeat center;}
.left_years a .year_txt{display: block; font-size: 12px; font-weight: 400; text-align: left; font-family: 'Pretendard';}
.right_days{margin-left: 55px; padding: 12px 0 20px 0;}
.right_days ul{display: flex; justify-content: space-between;}
.right_days ul li a{width: 40px; height: 40px; text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column;}
.day_active{background-color: #50555C; border-radius: 32px; position: relative; z-index: 3;}
.day_active .day_name{color: #fff; font-family: 'Noto Sans KR'; font-weight: 400;}
.day_active .day_num{color: #fff; font-family: 'Pretendard'; font-weight: 400;}
.day_select{position: relative; background: #F7F7F9;}
.day_select::after{position: absolute; content: ""; left: -20px; width: 50%; height: 40px; top: 0; background: #F7F7F9; display: block;}
.right_days ul li .day_name{font-size: 10px; height: 10px; line-height: 11px;}
.right_days ul li .day_num{font-size: 14px; display: inline-block; height: 22px; line-height: 22px;}
