
.res_tit {background-repeat: no-repeat; height: 160px; background-size: contain; background-position: right top; margin-bottom: 12px;}
.res_tit .tit {font-size: 20px; font-weight: 700; line-height: 30px; padding-left:4px}
.res_tit .desc {font-size: 14px; line-height: 22px; margin-top:8px; padding-left:4px;}

.res_tit.bg01 {background-image: url(../img/contents/res_bg01.png);}
.res_tit.bg02 {background-image: url(../img/contents/res_bg02.png);}
.res_tit.bg03 {background-image: url(../img/contents/res_bg03.png);}

.insur_tab {display: flex;margin: 0 -5px;}
.insur_tab li {flex: 1; text-align: center; margin: 0 5px;}
.insur_tab li a {position: relative; display: block; height: 220px; background: #FFF; border: 1px solid #ECEEF0; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04); border-radius: 12px;}
.insur_tab li a .tit {position: absolute; width: 100%; top: 20px; font-size: 18px; font-weight: 700; line-height: 28px; }
.insur_tab li a .tit::before {display: block; content: ''; width: 32px; height: 32px; background: url(../img/contents/ico_chkB.png) no-repeat center; background-size: contain; margin: 0 auto 4px; }
.insur_tab li a .txt_wrap {position: absolute; top: 108px; width: 100%;}
.insur_tab li a .txt {font-size: 12px; line-height: 18px; color: #50555C; margin-bottom: 8px;}
.insur_tab li a .btn {display: inline-block; min-width: 72px; height: 36px; line-height: 36px; padding: 0 18px; box-sizing: border-box; background: #D4D7DC; border-radius: 40px; font-weight: 700; color: #fff; }
.insur_tab li a .ex_txt {display: none; font-size: 11px; line-height: 18px; color: #50555C; margin-top: 8px;}

.insur_tab li.on a {border-color: #50555C; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);}
.insur_tab li.on a .tit::before {background-image: url(../img/contents/ico_chkB_on.png);}
.insur_tab li.on .btn {background: #50555C;}
.insur_tab li.on a .ex_txt {display: block;}
.insur_tab li.on a .type .btn {background: #FA4E29;}
.insur_tab li.on a .type .ex_txt {color: #FA4E29;}

.insur_tab.one li a {height: 106px;}
.insur_tab.one li a .tit {top: 38px; left: 40px; width: auto;}
.insur_tab.one li a .tit::before {display: inline-block; vertical-align: middle;}
.insur_tab.one li a .txt_wrap {width: auto; top: 22px; right: 37px;}
.insur_tab.one li a .txt {padding-top: 44px;}
.insur_tab.one  li a .btn {position: absolute; width: 100%; top: 0; left: 50%; transform: translateX(-50%);}
.insur_tab.one li a .ex_txt {margin-top: -12px;}
.insur_tab.one li.on a .txt_wrap {top: 18px;} 

.insur_link {text-align: center; margin-top: 24px;}
.insur_link::before {display: inline-block; content: ''; vertical-align: middle; width: 20px; height: 20px; background: url(../img/contents/ico_link.png) no-repeat; background-size: contain; margin-right: 1px;}
.insur_link a {font-size: 14px; line-height: 22px; text-decoration: underline; }

.add_list li { height: 72px; padding: 0 20px; background: #FFF; border: 1px solid #ECEEF0; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04); border-radius: 12px; }
.add_list li + li {margin-top: 16px;}
.add_list li .add_tit {position: relative; height: 72px; padding: 20px 0; box-sizing: border-box;}
.add_list li .add_tit > span, .push_toggle {position:absolute; top: 50%; transform: translateY(-50%);} 
.add_list li .add_tit > span {left: -4px; font-size: 18px; font-weight: 700; line-height: 28px;}
.add_list li .add_tit > span img {width: 32px; vertical-align: middle;}

.push_toggle {right: 0; width:60px; height:32px; border-radius:16px; background:#ECEEF0; border: 1px solid #D4D7DC; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out; }
.push_toggle span{position:absolute; top: 3px; left: 3px; width: 24px; height: 24px; background:#fff; border: 1px solid #D4D7DC; border-radius: 100%; -webkit-transition:all 0.3s ease-in-out; transition:all 0.3s ease-in-out;}
.push_toggle.on {background:#FA4E29;}
.push_toggle.on span {left: 32px;}

.add_list li.active {height: auto; border-color: #50555C; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);}
.item_wrap {min-height: 48px; padding: 20px 0; border-top: 1px solid #ECEEF0; border-bottom: 1px solid #ECEEF0;}
.item_list .li {position: relative;}
.item_list .li::after {display: block; content: ''; clear: both;}
.item_wrap .item_list .li + .li {margin-top: 20px;}
.item_wrap .fl {float: left;}
.item_wrap .fr {float: right;}
.item_wrap .item_img {display: inline-block; width: 48px; height: 48px; margin-right: 8px;}
.item_wrap .item_img img {max-width: 100%;}
.item_wrap .item_txt {display: inline-block;}
.item_txt dl dt {font-size: 14px; line-height: 22px; font-weight: 700;}
.item_txt dl dd {font-size: 11px; line-height: 16px;}
.item_txt p {font-size: 11px; line-height: 16px; color: #858B93;}

.numcontrol {position: relative; width: 100px; height: 32px; border: 1px solid #ECEEF0; border-radius: 16px; }
.numcontrol input[type="button"]{position: absolute; top: 0; width: 30px; height: 30px; font-size: 0; border-radius: 100%; cursor: pointer;background-repeat: no-repeat; background-position: center; background-size: 30px; background-color: #fff; border:none !important;}
.numcontrol .btn_minus {left: 0; background-image: url(../img/contents/btn_minus.png); }
.numcontrol .btn_plus {right: 0; background-image: url(../img/contents/btn_plus.png);}
input.count { width: 100%; height: 30px; padding: 0 32px; background: #f9f9f9; border-radius: 30px; border:none !important; text-align: center; font-size: 16px;
font-weight: 700; line-height: 24px; color: #50555C;}

.item_total {padding: 16px 0 24px; text-align: right;}
.item_total span {font-size: 12px; line-height: 18px;}
.item_total span strong {font-size: 16px; font-weight: 700; line-height: 24px;}
.item_total p {font-size: 11px; line-height: 16px; color: #858B93;}


.form_row .ex_box {margin-top: 8px;}
.form_row .ex_box .txt {font-size: 12px; line-height: 18px; color: #858B93; margin-top: 4px;}

.license_img { margin:20px auto; overflow: hidden;}
.license_img img {width: 100%;object-fit: cover;}
.licence_btn {text-align: center; margin-bottom: 40px;}
.btn_license {display: inline-block; width: calc(100% - 20px); max-width: 295px; height: 48px; line-height: 47px; background: #FFF; border: 1px solid #50555C; border-radius: 24px; font-size: 14px; text-align: center; box-sizing: border-box; }
.btn_license::before {position: relative; top: -1px; display: inline-block; vertical-align: middle; content: ''; width: 20px; height: 20px; background: url(../img/contents/ico_camera.png) no-repeat center; background-size: 20px; margin-right: 6px;}

.res_part_wrap {border-bottom: 1px solid #ECEEF0; padding-bottom: 40px;}
.res_part_list li {position: relative; min-height: 72px; padding: 24px; background: #FFF; border: 1px solid #ECEEF0; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04); border-radius: 12px; box-sizing: border-box;}
.res_part_list li::after {display: block;content: '';clear: both;}
.res_part_list li + li {margin-top: 16px;}
.res_part_list li .tit {position: absolute; top: 24px; left: 24px;}
.res_part_list li strong {font-weight: 700; line-height: 24px;}
.res_part_list li p {font-size: 12px; line-height: 18px; color: #858B93;}
.res_part_list li span {position: absolute; top: 24px; right: 16px; font-size: 14px; line-height: 22px;}
.res_part_list li span a {text-decoration: underline; padding: 8px;}
.res_part_list li.on {min-height: 96px; border: 1px solid #50555C; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04);}
.res_part_list li.disabled {background: #ECEEF0; box-shadow: none; color: #B5B9C0;}
.res_ex_txt {font-size: 14px; line-height: 22px; color: #858B93; margin-top: 24px;}

.push_wrap {position: relative; border-bottom: 1px solid #ECEEF0; padding: 24px 0 32px 0; box-sizing: border-box; margin: 0 20px;}
.push_wrap dl {padding-left: 4px;}
.push_wrap dl dt {font-size: 18px; font-weight: 700; line-height: 28px;}
.push_wrap dl dd {font-size: 12px; line-height: 18px; color: #50555C; margin-top: 4px;}
.push_wrap .push_toggle {right: 20px;}

.sub_title.type .h3_desc {color: #50555C; margin-top: 4px;}
.res_part_list li.on {min-height: 96px; border: 1px solid #50555C; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04);}
.res_part_list li.on span a {margin-left: 16px;}


/* 예약 팝업 공통 */
/* .layerPopup_content.has_bg {background: #E5E5E5;} */
.layerPopup .layerPopup_heading {border-bottom: 1px solid #ECEEF0;}
.layerPopup .layerPopup_heading p {font-size: 12px; line-height: 18px; color: #50555C; margin-top: 6px;}
.layerPopup .h3 {padding-left: 4px; font-size: 18px; line-height: 28px; color: #2E3033;}
.layerPopup .h3_desc {padding-left: 4px; font-size: 14px; line-height: 22px; color: #50555C;}
.layerPopup .h3 + .h3_desc {margin-top: 8px;}
.layerPopup .h3_desc + .h3_desc {margin: -8px 0;}
.layerPopup .fw700 {font-weight: 700;}
.res_pop_cont {color: #50555C;}
.res_pop_cont + .res_pop_cont {padding-top: 40px;}
.res_pop_cont dl + dl {margin-top: 32px;}
.res_pop_cont dl dt {font-size: 14px; font-weight: 700; line-height: 22px; color: #2E3033;}

.layerPopup .table {margin: 16px 0;}
.layerPopup .table table {width:100%;border-collapse: collapse;table-layout: fixed;}
.layerPopup .table table thead th {height: 36px; padding: 8px 5px 10px; background: #ECEEF0; font-size: 12px; font-weight: 700; line-height: 18px; color: #50555C;}
.layerPopup .table table thead th + th {border-left:1px solid #fff;}
.layerPopup .table table tbody td {height: 36px; padding: 12px 5px 10px; font-size: 12px; line-height: 18px; color: #50555C; text-align: center; border-bottom: 1px solid #ECEEF0; vertical-align: middle;}
.layerPopup .table table tbody td + td {border-left: 1px solid #fff;}
.layerPopup .table table .emp_txt {color: #FA4E29 !important;}
.layerPopup .tb_ex_txt {padding-left: 4px;font-size: 14px; line-height: 22px; color: #50555C;}
.layerPopup .tb_ex_txt i {display: inline-block; vertical-align: middle; width: 16px; height: 16px; position: relative; top: -1px;}
.layerPopup .tb_ex_txt i img {max-width: 100%;}

.check_list {margin-top: 8px;}
.check_list li {font-size: 14px; line-height: 22px;}
.check_list li::before {display: inline-block; vertical-align: middle; content: ''; width: 16px; height: 16px; background: url(../img/contents/ico_checklist.png) no-repeat center; background-size: 16px;}
.check_list li + li {margin-top: 8px;}

.layerPopup .res_step {display: flex; flex-wrap: wrap; margin: 12px 0 0;}
.layerPopup .res_step li {position: relative; width: 33.33%; text-align: center; margin-top: 20px;}
.layerPopup .res_step li::after {position: absolute; right: 0; top: 20px; display: inline-block; content: ''; width: 16px; height: 16px; background: url(../img/contents/ico_step_right.png) no-repeat; background-size: 16px; background-position: center;}
.layerPopup .res_step li:last-child:after {display: none !important;}
.layerPopup .res_step li .ico {display: block; width: 56px; height: 56px; background-color: #F7F7F9; background-repeat: no-repeat; background-position: center; background-size: 32px; border-radius: 100%; margin: auto;}
.layerPopup .res_step li .txt {display: block; font-size: 12px; line-height: 18px;  margin-top: 12px;}

.layerPopup .res_step li .step01 {background-image: url(../img/contents/ico_step01.png);}
.layerPopup .res_step li .step02 {background-image: url(../img/contents/ico_step02.png);}
.layerPopup .res_step li .step03 {background-image: url(../img/contents/ico_step03.png);}
.layerPopup .res_step li .step04 {background-image: url(../img/contents/ico_step04.png);}
.layerPopup .res_step li .step05 {background-image: url(../img/contents/ico_step05.png);}

.layerPopup .li_tit,.layerPopup .p_txt {padding-left: 4px; font-size: 14px; line-height: 22px; color: #50555C; margin-top: 8px;}
.layerPopup p.imp {text-indent: -24px; padding-left: 24px;}
.layerPopup p.imp::before {display: inline-block; vertical-align: middle; width: 16px; height: 16px; content: ''; background: url(../img/contents/ico_imp.png) no-repeat center; background-size: 16px; margin: 0 4px; position: relative; top: -1px;}
.layerPopup .dot_list li {padding-left: 4px; font-size: 14px; line-height: 22px; color: #50555C; margin-top: 4px;}
.layerPopup .dot_list li::before {display: inline-block; vertical-align: middle; width: 3px; height: 3px; content: ''; background: #50555C; border-radius: 100%; margin-right: 4px;}

/* 팝업 - 카시트 */
.layerPopup .filter_wrap {font-size: 12px; line-height: 18px; margin-bottom: 12px;}
.layerPopup .filter_wrap::after,.layerPopup .filter_wrap .fr::after {display: block; content: '';clear: both;}
.layerPopup .filter_wrap .fl {float: left;}
.layerPopup .filter_wrap .fr {float: right;}
.layerPopup .filter_wrap select {float: left; background: url(../img/contents/ico_seldown.png) no-repeat right center; background-size: 16px; font-size: 12px; line-height: 18px; margin-left: 20px; padding-right: 16px;}
.seat_item_list li {padding: 20px; background: #FFF; border: 1px solid #ECEEF0; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04); border-radius: 12px; box-sizing: border-box;}
.seat_item_list li + li {margin-top: 16px;}
.seat_item_list li > div::after {display: block; content: '';clear: both;}
.seat_item_list li .tag {margin-bottom: 10px;}
.seat_item_list li .tag span {display: inline-block; min-width: 41px; height: 20px; line-height: 20px; background: #F7F7F9; border-radius: 8px; font-size: 11px; font-weight: 700; color: #858B93; text-align: center;}
.seat_item_list li .item_txt {float: left;}
.seat_item_list li .item_txt dl {padding-left: 4px;}
.seat_item_list li .item_txt dl dt {font-size: 16px; line-height: 24px;}
.seat_item_list li .item_txt dl dd {font-size: 11px; line-height: 16px;}
.seat_item_list li .item_img {float: right;}
.seat_item_list li .item_btm {margin-top: 10px;}
.seat_item_list li .total_txt {float: left; padding-left: 4px; font-size: 14px; font-weight: 700; line-height: 32px;}
.seat_item_list li .numcontrol {float: right;}
.seat_item_list li.on {border-color: #50555C; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12); border-radius: 12px;}

/* 팝업 - 운전자정보_자세한자격조건 */
.layerPopup .res_step.type {display: block; margin: 32px 0;}
.layerPopup .res_step.type li {width: 100%; text-align: left;}
.layerPopup .res_step.type li::after {position: static; display: block; content: ''; width: 24px; height: 24px; background: url(../img/contents/ico_step_down.png) no-repeat; background-size: 24px; background-position: center; padding-left: 30px;}
.layerPopup .res_step.type li .ico {display: inline-block; vertical-align: middle; margin-right: 4px;}
.layerPopup .res_step.type li .step01 {background-image: url(../img/contents/ico_step_ty01.png);}
.layerPopup .res_step.type li .step02 {background-image: url(../img/contents/ico_step_ty02.png);}
.layerPopup .res_step.type li .step03 {background-image: url(../img/contents/ico_step_ty03.png);}
.layerPopup .res_step.type li .step04 {background-image: url(../img/contents/ico_step_ty04.png);}
.layerPopup .res_step.type li .txt {display: inline-block; font-size: 14px; line-height: 20px; margin-top: 0;}

/* 결제 */
.sub_wrap.type01 .tit {padding-left: 4px; color: #858B93; margin-bottom: 16px;}
.sub_wrap.type01 .con_wrap > div {position: relative; padding: 12px 0; border-bottom: 1px solid #ECEEF0; font-size: 14px; line-height: 22px;}
.sub_wrap.type01 .con_wrap > div:first-child {padding-top: 0;}
.sub_wrap.type01 .con_wrap > div:last-child {padding-bottom: 0;border-bottom: 0;}
.sub_wrap.type01 .con_wrap dl + dl {margin-top: 34px;}
.sub_wrap.type01 .con_wrap dl dt {font-weight: 700;}
.sub_wrap.type01 .con_wrap dl dt i {display: inline-block; vertical-align: middle; width: 24px; height: 24px; position: relative; top: -1px; margin-right: 4px;}
.sub_wrap.type01 .con_wrap dl dt img  {max-width: 100%;}
.sub_wrap.type01 .con_wrap dl dd {padding-left: 28px; font-size: 12px; line-height: 18px; color: #858B93;}
.sub_wrap.type01 .con_wrap > div .link {position: absolute; top: 8px; right: -4px; padding: 8px; text-decoration: underline;}
.sub_wrap.type01 .con_wrap > div:first-child .link {top: -8px;}
.sub_wrap.type01 .con_wrap .ex_txt {font-size: 12px; line-height: 18px; color: #50555C; margin-top: 20px;}
.sub_wrap.type01 .sub_cont.pd_ty {padding: 0 20px;}
.sub_wrap.type01 .sub_cont.pd_ty  .con_wrap > div {padding: 0;}

.pay_tit {padding-bottom: 40px; text-align: center;}
.pay_tit::after {display: block; width: 180px; height: 180px; padding-top: 40px; content: ''; background: url(../img/contents/res_pay_bg.png) no-repeat center; background-size: 180px; margin: auto;}
.pay_tit .tit {font-size: 20px; line-height: 30px; color: #2E3033 !important;}
.pay_tit strong {font-weight: 700;}

.pay_list {padding: 0 4px;}
.pay_list li::after {display: block; content: ''; clear: both;}
.pay_list > li + li {margin-top: 8px;}
.pay_list .t_color01 {color: #FA4E29;}
.pay_list span:first-child {float: left;}
.pay_list span:last-child {float: right;}
.pay_li_detail li {position: relative; padding-left: 14px; margin-top: 4px;}
.pay_li_detail li::before {position: absolute; left: 0; top: 5px; display: inline-block; width: 8px; height: 8px; content: ''; background: url(../img/contents/ico_pay_detail.png) no-repeat center; background-size: 8px;}
.pay_li_detail li span {font-size: 12px; line-height: 18px;}
.pay_list.total span {font-size: 16px; font-weight: 700; line-height: 24px; }

.tab_ty {display: flex; margin: 0 -4px 24px;}
.tab_ty li {flex: 1; text-align: center; margin: 0 4px;}
.tab_ty li a {display: block; height: 56px; background: #FFF; border: 1px solid #ECEEF0; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04); border-radius: 12px; box-sizing: border-box; font-size: 16px; line-height: 54px;}
.tab_ty li.on a {border-color: #50555C; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.12);}

.pay_meth_list li {height: 44px; background: #FFF; border: 1px solid #D4D7DC; border-radius: 12px; box-sizing: border-box;}
.pay_meth_list li + li {margin-top: 8px;}
.pay_meth_list li.on {border-color: #50555C;}
.pay_meth_list .chk_box {display: block; height: 44px;}
.pay_meth_list .chk_box label {position: absolute; left: 0; top: 0; width: 100%; height: 44px; padding: 10px 14px 10px 20px;}
.pay_meth_list .chk_box label:before {left: auto; top: 50%; transform: translateY(-50%); right: 14px;}
.pay_meth_list .chk_box input {left: auto; top: 50%; transform: translateY(-50%); right: 14px;}
.pay_meth_list .chk_box input[type="radio"]+ label:after {left: auto; top: 50%; transform: translateY(-50%); right: 20px;}
.pay_meth_list .chk_box > span {padding-left: 20px; font-weight: 700; line-height: 44px;}
.pay_meth_list .chk_box > span::before {display: inline-block; vertical-align: middle; width: 20px; height: 20px; content: ''; background-repeat: no-repeat; background-position: center; background-size: 20px; position: relative; top: -2px; margin-right: 8px;}
.pay_meth_list .naver_pay::before {background-image: url(../img/contents/ico_naver.png);}
.pay_meth_list .kakao_pay::before {background-image: url(../img/contents/ico_kakao.png);}
.pay_meth_list .toss_pay::before {background-image: url(../img/contents/ico_toss.png); width: 24px !important; background-size: 24px !important;}
.pay_meth_list .payco_pay::before {background-image: url(../img/contents/ico_payco.png);}
.pay_meth_list .sk_pay::before {background-image: url(../img/contents/ico_sk.png);}
.pay_meth_list .chk_box > span em {font-size: 11px; font-weight: normal; line-height: 16px; color: #FA4E29; margin-left: 2px;}

.pay_policy a {position: relative; display: block; padding: 24px 0;}
.pay_policy a::after {position: absolute; top: 28px; right: 0; display: block; content: ''; width: 16px; height: 16px; background: url(../img/contents/ico_view_right.png) no-repeat center; background-size: 16px;}
.pay_policy a strong {display: block; font-weight: 700; color: #2E3033;}
.pay_policy a span {display: block; font-size: 12px; line-height: 18px;color: #858B93;}

.pay_chk_wrap {padding: 0 4px;}
.pay_agree_list li::after {display: block; content: ''; clear: both;}
.pay_agree_list li .chk_box {float: left;}
.pay_agree_list li .chk_box label {padding: 8px 2px 8px 26px; font-size: 14px; line-height: 22px; color: #50555C;}
.pay_chk_wrap .chk_box label:before {top: 50%; transform: translateY(-50%);}
.total_chk label {font-size: 14px; font-weight: 700; line-height: 23px; color: #50555C;}
.pay_agree_list li .view {float: right; margin-top: 8px;}
.pay_agree_list li .view a {padding: 8px; font-size: 14px; line-height: 23px; color: #50555C; text-decoration: underline;}
.pay_agree_txt {color: #50555C; text-align: center;}

/*  팝업 - 쿠폰 */
.layerPopup .coupon_wrap {padding: 32px 20px 40px;}
.layerPopup .coupon_wrap .coupon_serch {position: relative; margin-bottom: 32px;}
.layerPopup .coupon_wrap .push_wrap {padding: 0; border: 0; margin: 0;}
.layerPopup .coupon_wrap .push_wrap > span {padding-left: 4px; line-height: 32px; color: #50555C;}
.layerPopup .coupon_wrap .push_wrap .push_toggle {right: 0;}
.layerPopup .coupon_wrap .form_row {display: none; margin-top: 24px;}
.btn_coupon {min-width: 110px !important; background: #50555C !important; color: #FFF !important;}

.layerPopup .coupon_list > li {display: flex; min-height: 126px;}
.layerPopup .coupon_list > li + li {margin-top: 12px;}
.layerPopup .coupon_list > li > div {background: #FFF; border: 1px solid #ECEEF0; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04); border-radius: 12px 8px 8px 12px;}
.layerPopup .coupon_list .fl {padding: 20px 16px 16px 16px; width: 100%; border-right: 0;}
.layerPopup .coupon_list .fl .tag {margin-bottom: 4px;}
.layerPopup .coupon_list .fl .tag span {display: inline-block; min-width: 66px; height: 20px; padding: 0 6px; line-height: 20px; background: #50555C; border-radius: 6px; box-sizing: border-box; font-size: 11px; font-weight: 700; color: #FFF; text-align: center;}
.layerPopup .coupon_list .fl > strong {display: block; font-size: 18px; font-weight: 700; line-height: 28px;}
.layerPopup .coupon_list .fl > span {display: block; font-size: 14px; line-height: 22px; color: #858B93; margin-top: 16px;}

.layerPopup .coupon_list .fr {position: relative; width: 48px; border-left: 0; border-radius: 8px 12px 12px 8px; }
.layerPopup .coupon_list .fr::before {display: inline-block; width: 1px; height: calc(100% - 8px); border-left: 1px dashed #ECEEF0; content: ''; position: absolute; left: -0.5px; top: 5px;}
.layerPopup .coupon_list .chk_box {width: 100%; height: 100%;}
.layerPopup .coupon_list .chk_box label {width: 100%; height: 100%; padding: 0;}
.layerPopup .coupon_list .chk_box input[type="radio"] + label:before,
.layerPopup .coupon_list .chk_box input[type="radio"]+ label:after {top: 50%; left: 50%; transform: translate(-50%,-50%);}

.layerPopup .coupon_list > li.on > div,
.layerPopup .coupon_list > li.on .fr::before {border-color: #50555C;}

/* 데이터가 없을 경우 */
.layerPopup .nodata {padding-top: 32%; text-align: center;}
.layerPopup .nodata p {font-size: 14px; line-height: 22px; color: #858B93;}


/* 예약완료 */
.result_wrap {height: calc(100vh - 48px); padding: 32px 20px 80px; text-align: center; box-sizing: border-box;}
.result_tit {padding: 0 0 40px;}
.result_tit .tit {font-size: 20px; font-weight: 700; line-height: 30px; color: #2E3033;}
.result_tit .tit::after {display: block; width: 240px; height: 240px; content: ''; background-repeat: no-repeat; background-position: center; background-size: 240px; margin: 8px auto 0;}
.result_tit.res_end .tit::after {background-image: url(../img/contents/res_end_bg.png);}
.result_tit .desc {font-size: 14px; line-height: 22px; color: #50555C;}

.result_box {display: flex; align-items: center; min-height: 94px; padding: 16px 10px; background: #FFF; border: 1px solid #D4D7DC; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.04); border-radius: 12px; box-sizing: border-box; text-align: left;}
.result_box .img {width: 100px; height: 44px; overflow: hidden;}
.result_box .img img {width: 100%;}
.result_box .txt {padding-left: 8px;}
.result_box .txt strong {display: block; font-size: 14px; font-weight: 700; line-height: 22px;}
.result_box .txt span {display: block; font-size: 12px; line-height: 18px; margin-top: 4px;}

.result_link {display: block; font-size: 14px; line-height: 22px; color: #50555C;text-decoration: underline;  margin-top: 20px;}

/* 예약실패 */
.result_tit.res_fail .tit::after {background-image: url(../img/contents/res_fail_bg.png);}
.result_box .fail_txt {width: 100%; text-align: center; font-size: 16px; font-weight: 700; line-height: 24px; color: #F71010;}




/************************************************************************************/

