/* 공통 */
.main_wrap {position:relative;  background-size:100%; padding:0 32px  }
.main_wrap:before {content:'';position:absolute; top:0; left:0; display:block; width:100%; height:100%;  background: url(../img/contents/main_bg.png) no-repeat top center / contain; z-index: -1; }
.main_wrap:after{content:'';position:absolute; top:0; left:0; display:block; width:100%; height:100%; background: url(../img/contents/main_bg_img.png) no-repeat top -80px center / contain;z-index:-1; }
.main_wrap .main_tit{font-size: 20px;line-height: 30px;}
.main_wrap .main_tit em{font-weight: 700;}
.main_wrap .main_desc{display:block; font-size: 12px;  margin-top:10px; margin-bottom:25px}
.main_wrap .main_desc em{font-weight: 700;}

/* 예약하기 */
.main_wrap > .res_form_wrap {border-radius: 12px; background:#fff;margin-top: 20px;}
.main_wrap > .res_form_wrap .cont > a {padding:0 20px;}
.main_wrap > .res_form_wrap .cont > a {display:flex; align-items:center; height:54px;border-bottom:1px solid #efefef; box-sizing:border-box;}
.main_wrap > .res_form_wrap .cont:nth-child(3) > a {border-bottom:0 none;}
.main_wrap > .res_form_wrap .btn{width:100%; height:56px;background:url('../img/common/btn_bg.jpg') no-repeat center / 110% ; color:#fff;font-weight: 700; border-radius: 0 0 12px 12px; }
.main_wrap > .res_form_wrap .cont >  a:before {content:''; display:inline-block; width:15px; height:15px;background-size: 15px; margin-right:10px}
.main_wrap > .res_form_wrap .ico_place:before{background:url(../img/common/ico_place_20x20.png) no-repeat center / 20px;}
.main_wrap > .res_form_wrap .ico_date:before {background:url(../img/common/ico_date_20x20.png) no-repeat center / 20px;}
.main_wrap > .res_form_wrap .ico_car:before  {background:url(../img/common/ico_car_20x20.png) no-repeat center / 20px;}
.main_wrap > .res_form_wrap i {display:block; width:20px; height:20px; margin-left:auto; cursor: pointer; z-index: 1;}
.main_wrap > .res_form_wrap .ico_reset{width:35px; height:54px; background-position:right ;}


.ico_select {background: url(../img/common/ico_chevronD_16x16.png) no-repeat center / 20px;}
.ico_reset {background: url(../img/common/ico_reset_22x22.png) no-repeat center / 22px;}

.res_form_wrap .carousel{padding:0 20px; margin-bottom:27px}
.res_form_wrap .carousel .btn_option_wrap li > a{font-size:12px; background:#fff; border: 1px solid #D4D7DC; border-radius:8px }
.res_form_wrap .carousel .btn_option_wrap li.on > a{border-color: #50555C;  color:#2E3033}
/* 예약리스트 */
.main_wrap > .res_list_wrap { margin-top:160px}
.main_wrap > .res_list_wrap .list {position:relative;height:48px; background:#fff; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.08); border-radius: 24px; padding-left:100px;}
.main_wrap > .res_list_wrap .list img {position:absolute; top:50%; left:20px; transform: translateY(-50%);}
.main_wrap > .res_list_wrap .list .name {font-size: 12px; font-weight: 700; padding-top:10px;}
.main_wrap > .res_list_wrap .list .place {font-size: 11px; }
.main_wrap > .res_list_wrap .list .date {font-size: 11px; }
.main_wrap > .res_list_wrap .list .dday {position:absolute; top:50%; right:20px; transform: translateY(-50%); font-size:14px; font-weight:700; color: #FA4E29; }
.main_wrap > .res_list_wrap .link {display:block; text-align:center;  font-size: 12px;font-weight: 700;color: #FFFFFF;text-decoration-line: underline; margin-top:10px}

/* 회원전용 혜택 */
.main_wrap > .benefit_wrap .label{padding: 2px 6px; background: #FA4E29;border-radius: 6px;font-size: 11px; font-weight: 700; color:#fff; margin-bottom:5px}
.main_wrap > .benefit_wrap .main_tit, .benefit_wrap .main_desc{color:#fff;}
.main_wrap > .benefit_wrap .main_tit em {position: relative;}
.main_wrap > .benefit_wrap .main_tit em:after {content:''; position:absolute; left:0; bottom:2px;display:block; width: 100%; height: 5px; background: #FFD028; opacity: 0.4;}
.main_wrap > .benefit_wrap .carousel li{ margin-top:10px;}
.main_wrap > .benefit_wrap .carousel li a{position: relative; display:block; height: 160px;  overflow: hidden;border-radius: 12px;}
.main_wrap > .benefit_wrap .carousel li img {position: absolute; top: 50%; left: 50%;  transform: translate(-50%, -50%); width:100%;}

/* 제주컨텐츠 */
.main_wrap > .jejucont_wrap {margin-top:60px}
.main_wrap > .jejucont_wrap .carousel{display:flex; width:200%; overflow:hidden}
.main_wrap > .jejucont_wrap .carousel li{width:200px; margin-right:15px; }
.main_wrap > .jejucont_wrap .carousel li:last-child{margin-right:0}
.main_wrap > .jejucont_wrap .carousel li a{display:block; background:#ECEEF0; border-radius: 12px; overflow: hidden;}
.main_wrap > .jejucont_wrap .carousel li a .img_wrap{position: relative;height:150px;}
.main_wrap > .jejucont_wrap .carousel li a .img_wrap img{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.main_wrap > .jejucont_wrap .carousel li a .cont_wrap{padding:15px 15px 40px;}
.main_wrap > .jejucont_wrap .carousel li a .cont_wrap .label{font-size: 12px; margin-bottom:5px;}
.main_wrap > .jejucont_wrap .carousel li a .cont_wrap .txt{line-height: 22px; font-weight: 700; font-size: 14px;}

/* 이벤트 컨텐츠 */
.main_wrap > .eventcont_wrap {margin-top:60px}
.main_wrap > .eventcont_wrap .carousel{display:flex; width:200%; overflow:hidden}
.main_wrap > .eventcont_wrap .carousel li{width:140px; margin-right:15px}
.main_wrap > .eventcont_wrap .carousel li:last-child{margin-right:0}
.main_wrap > .eventcont_wrap .carousel li a{display:block; }
.main_wrap > .eventcont_wrap .carousel li a .img_wrap{position: relative; height:140px; overflow: hidden; border-radius: 50%;}
.main_wrap > .eventcont_wrap .carousel li a .img_wrap img{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);}
.main_wrap > .eventcont_wrap .carousel li a .cont_wrap{padding:15px 0 40px 0;}
.main_wrap > .eventcont_wrap .carousel li a .cont_wrap .label{font-size: 12px; margin-bottom:5px;}
.main_wrap > .eventcont_wrap .carousel li a .cont_wrap .txt{line-height: 22px; font-weight: 700; font-size: 14px;}

/* 서비스 */
.main_wrap > .service_wrap .main_tit{font-size:18px}
.main_wrap > .service_wrap .list a{display:flex; align-items: center;  padding:15px 0; border-bottom: 1px solid #ECEEF0;}
.main_wrap > .service_wrap .list a:before{content:''; display:inline-block; width:64px; height:64px;border-radius:50%; margin-right:15px; }
.main_wrap > .service_wrap .list a.pay:before{ background:#ECEEF0 url('../img/common/ico_pay.png') center no-repeat;  background-size:32px 32px}
.main_wrap > .service_wrap .list a.care:before{ background:#ECEEF0 url('../img/common/ico_care.png') center no-repeat; background-size:32px 32px }
.main_wrap > .service_wrap .list a.link:before{ background:#ECEEF0 url('../img/common/ico_link.png') center no-repeat ; background-size:32px 32px}
.main_wrap > .service_wrap .list a.live:before{ background:#ECEEF0 url('../img/common/ico_live.png') center no-repeat; background-size:32px 32px}
.main_wrap > .service_wrap .list a.bilicar:before{ background:#ECEEF0 url('../img/common/ico_bilicar.png') center no-repeat; background-size:32px 32px}
.main_wrap > .service_wrap .list .cont_wrap em{display:block;font-weight: 700; font-size: 14px; margin-bottom:5px }
.main_wrap > .service_wrap .list .cont_wrap em b{color:#FA4E29 }
.main_wrap > .service_wrap .list .cont_wrap span{display:block;font-size: 12px; color: #858B93;} 

/* 배너 */
.main_wrap > .banner_wrap {position:relative; height:480px; background: url(../img/temp/@banner_bg.jpg) center no-repeat;background-size: cover; margin:0 -30px}
.main_wrap > .banner_wrap .cont{position:absolute; bottom:30px; left:50%; transform: translateX(-50%); background:#fff; width:calc(100% - 60px); box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);border-radius: 12px; padding:20px;}
.main_wrap > .banner_wrap .cont .tit {font-weight: 700;font-size: 16px;}
.main_wrap > .banner_wrap .cont .tit em{position: relative; color:#FA4E29 }
.main_wrap > .banner_wrap .cont .tit em:after {content:''; position:absolute; left:0; bottom:2px;display:block; width: 100%; height: 5px; background: #FFD028; opacity: 0.4;}
.main_wrap > .banner_wrap .cont .desc {display:block; font-size: 12px;color: #50555C; margin-top:10px}
.main_wrap > .banner_wrap .cont .img {position: absolute; top: 50%; right:15px; transform: translateY(-50%);}


/* 지점선택 */
.layerPopup_heading.boder_n{border: none;}
.layerPopup_heading.map_height{height: 68px;}
.layerPopup_heading .search_input{display: flex; height: 32px; align-items: center; justify-content: space-between; margin-top: 18px;}
.layerPopup_heading .search_input input{border: none; padding: 0; width: 80%; height: 32px; font-weight: 400;}
.layerPopup_heading .search_input input::placeholder{font-size: 18px; line-height: 32px; font-weight: 400;}
.layerPopup_heading .search_input .icon_cancel_m{display: inline-block; width: 20px; height: 20px; background:#50555C url(../img/common/ico_cancel_search_12x12.png)no-repeat center center; border-radius: 100%;}
.layerPopup_heading .search_input .icon_search_m{display: inline-block; width: 20px; height: 20px; background: url(../img/common/ico_modal_search.png)no-repeat center center / 18px;}

.layerPopup_content.pd_n{padding: 0;}
.layerPopup_content.bg{position: relative; background: #F7F7F9; box-shadow: inset 0 20px 7px -9px rgb(0 0 0 / 4%);}
.layerPopup_content.bg2{position: relative; background: #F7F7F9; box-shadow: inset 0 20px 7px -9px rgb(0 0 0 / 4%)}
.layerPopup_content.bg2.sdw{position: relative;}
.layerPopup_content.bg2.sdw::before{content: ""; position: absolute; width: 100%; height: 8px; background: linear-gradient( to bottom, #F7F7F9, #000 ); left: 0; bottom: -1px; opacity: 0.03;}
.select_list_wrap .spot_btns .spot_titles{display: flex; justify-content: space-between; height: 22px; align-items: center; margin-bottom: 8px;}
.select_list_wrap .spot_btns .spot_titles p{font-size: 14px; font-weight: 700; color: #2E3033;}
.select_list_wrap .spot_btns .spot_titles span{font-size: 12px; font-weight: 400; color: #858B93;}
.select_list_wrap .spot_btns .spot_btn_list{display: flex; width: 113%; overflow: hidden;}
.select_list_wrap .spot_btns .spot_btn_list li{margin-left: 6px;}
.select_list_wrap .spot_btns .spot_btn_list li:first-child{margin-left: 0;}
.select_list_wrap .spot_btns .spot_btn_list li a{display: flex; justify-content: space-between; align-items: center; padding: 7px 10px; border: 1px solid #CDDFE4; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04); border-radius: 8px; box-sizing: border-box;}
.select_list_wrap .spot_btns .spot_btn_list .jeju_btn a{width: 110px; background: #DFF3F8;}
.select_list_wrap .spot_btns .spot_btn_list .yeosu_btn a{width: 64px; background: #FFF2DA;}
.select_list_wrap .spot_btns .spot_btn_list .incheon_btn a{width: 113px; background: #ECEEF0;}
.select_list_wrap .spot_btns .spot_btn_list .gyeongju_btn a{width: 65px; background: #FAE5EA;}
.select_list_wrap .spot_btns .spot_btn_list li a span{display: inline-block; font-size: 14px; line-height: 22px; font-weight: 400; color: #000;}
.select_list_wrap .spot_btns .spot_btn_list li a em{display: inline-block; font-size: 11px; color: #FA4E29; padding-top: 2px;}
.spot_result_wrap .result_title{font-size: 12px; font-weight: 400;}
.spot_result_wrap .result_list{margin-top: 8px;}
.spot_result_wrap .result_list li{display: flex; justify-content: space-between; background: #FFFFFF; border-radius: 8px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04); border: 1px solid #ECEEF0; height: 48px; padding: 13px 20px 13px 12px; margin-bottom: 10px; align-items: center; justify-content: space-between;}
.spot_result_wrap .result_list li:last-child{margin-bottom: 0;}
.spot_result_wrap .result_list li .navi_rtext{display: flex;}
.spot_result_wrap .result_list li .navi_rtext img{width: 16px; height: 16px; margin-left: 2.67px;}
.spot_result_wrap .result_list li .navi_rtext p{margin-left: 10.67px; font-size: 14px; font-weight: 700;}
.spot_result_wrap .result_list li .navi_rtext span{margin-left: 6px; color: #858B93; font-size: 12px;}
.spot_result_wrap .result_list li .navi_map_link a{font-size: 12px; color: #50555C; text-decoration-line: underline;}
.spot_result_wrap .non_result{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%);  text-align: center; font-size: 14px; color: #858B93; line-height: 22px;}

.spot_text_group{padding: 32px 24px 0 20px;}
.spot_text_group .spot_title{display: flex; align-items: center;}
.spot_text_group .spot_title h4{font-size: 20px; color: #2E3033; font-weight: 700;}
.spot_text_group .spot_title span{font-size: 14px; color: #858B93; display: inline-block; margin-left: 8px;}
.spot_text_sb{margin-top: 16px;}
.spot_text_sb ul li{display: flex; justify-content: space-between; margin-bottom: 20px;}
.spot_text_sb ul li:last-child{margin-bottom: 0;}
.spot_text_sb ul li .left_txt p{font-size: 12px; font-weight: 700; color: #858B93;}
.spot_text_sb ul li .left_txt span{display: block; font-size: 14px; color: #2E3033;}
.spot_text_sb ul li .left_txt em{color: #50555C; display: inline-block; padding-left: 8px;}
.spot_text_sb ul li .right_btn a{display: inline-block; padding: 6px 10px; height: 30px; background: #F7F7F9; border: 1px solid #ECEEF0; border-radius: 12px; font-size: 12px; font-weight: 700;color: #858B93;}
.spot_text_sb ul li .right_btn{padding-top: 5px;}
.spot_text_group .spot_btn_wrap{text-align: center; margin-top: 44px;}
.spot_text_group .spot_btn_wrap a{display: inline-block; text-align: center; padding: 13px 0 15px 0; width: 295px; height: 56px; background: linear-gradient(91.04deg, #F35B5B 1.64%, rgba(254, 83, 45, 0.84) 116.61%); border-radius: 12px; font-size: 18px; font-weight: 700; color: #FFFFFF; line-height: 28px;}

.layerPopup_bottom .select_list_wrap{padding:12px 0 44px 0;}
.layerPopup.bottom .layerPopup_bottom.sdw{position: relative;}


/* 지점 아코디언 메뉴 */
.accordion_wrap{margin-top: 32px;}
.accordion_wrap .acc_title{font-size: 14px; font-weight: 700;}
.accordion_wrap .que{position: relative; display: flex; height: 48px; margin-top: 8px; padding: 11px 20px 13px 24px; cursor: pointer; background: #FFFFFF; border: 1px solid #ECEEF0; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04); border-radius: 8px;}
.accordion_wrap .que:first-child{margin-top: 0;}
.accordion_wrap .regi_name{font-size: 16px; line-height: 24px; margin-right: 10px;}
.accordion_wrap .que.on{background: #50555C; border-radius: 8px 8px 0px 0px;}
.accordion_wrap .que .regi_box{background: #ECEEF0; font-size: 12px; border-radius: 4px; padding: 2px 6px; display: inline-block; margin-right: 6px;}
.accordion_wrap .que .regi_box:last-child{margin-right: 0;}
.accordion_wrap .que.on .regi_name{color: #fff;}
.accordion_wrap .anw { display: none; overflow: hidden; font-size: 14px; background: #FFFFFF; padding: 20px 20px 40px 20px; box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.05); border-radius: 0px 0px 8px 8px;}
.accordion_wrap .arrow-wrap {position: absolute; top:50%; right: 20px; transform: translate(0, -50%);}
.accordion_wrap .que .arrow-top {display: none;}
.accordion_wrap .que .arrow-bottom {display: block;}
.accordion_wrap .que.on .arrow-bottom {display: none;}
.accordion_wrap .que.on .arrow-top {display: block;}

.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_map_title{font-size: 14px; color: #2E3033;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group{margin-top: 24px;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group:first-child{margin-top: 0;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li{height: 42px; display: flex; justify-content: space-between; align-items: center; border-bottom: 1px solid #ECEEF0; margin-bottom: 10px;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li:last-child{margin-bottom: 0;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li .navi_rtext{display: flex; justify-content: space-between; align-items: center;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li .navi_rtext img{width: auto; height: auto; margin-left: 2.67px;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li .navi_rtext p{margin-left: 10.67px; font-size: 14px; font-weight: 700;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li .navi_rtext span{margin-left: 6px; color: #858B93; font-size: 12px;}
.accordion_wrap .anw .navi_map_lists .navi_map_wrap .navi_list_group ul li .navi_map_link a{font-size: 12px; color: #50555C; text-decoration-line: underline;}


/* 팝업 캘린더 */

/*캘린더*/
.cal_wrap.fixed  {margin-bottom: -20px;margin-top: 10px;}
.cal_wrap.fixed .cal_tb tr {height:auto;}
.cal_wrap.fixed .cal_tb th {font-weight:400}
.cal_wrap table {table-layout: fixed;margin: 0 -6px;}
.cal_wrap +.cal_wrap {margin-top: 40px;}
.cal_wrap em {display:block;line-height: 24px;font-weight: 700;margin-left: 12px;}
.cal_wrap .cal_tb {text-align:center; }
.cal_wrap .cal_tb tr { height:50px;}
.cal_wrap .cal_tb th {color:#666;padding: 10px;font-size: 12px;font-weight:400;text-align: center;}
.cal_wrap .cal_tb td {position:relative;font-size: 14px;text-align: center;color: #50555C;padding:5px 0;} 
.cal_wrap .cal_tb td span{display:block;height: 26px;font-size: 10px;text-overflow: ellipsis; white-space: nowrap; overflow: hidden;} 
.cal_wrap .cal_tb td .price {color:#999} 
.cal_wrap .cal_tb th:first-child,.k1kb_popContents .k1kb_terms_box .cal_tb th:last-child,
.cal_wrap .cal_tb td:first-child,.k1kb_popContents .k1kb_terms_box .cal_tb td:last-child  {color: #FA4E29;}
.cal_wrap .cal_tb td.today {color:#333;font-weight: 700;}
.cal_wrap .cal_tb td.today span{font-weight: 400;}
.cal_wrap .cal_tb td.holiday {color: #FA4E29;}
.cal_wrap .cal_tb td.unchecked {color: #D4D7DC;pointer-events: none;}

.cal_wrap .cal_tb td.checked{color:#fff}
.cal_wrap .cal_tb td.checked:before{content:''; position:absolute; left:50%; top:2px ;transform: translateX(-50%);  width:40px; height:40px;background: #50555C; border-radius: 50%;z-index:-1}


.cal_wrap .cal_tb td.checked.rent:after   {content:''; position:absolute;top: 2px;right: 0;width: 50%; height:40px;background: #F7F7F9;z-index: -2;}
.cal_wrap .cal_tb td.checked.return:after {content:''; position:absolute;top: 2px;left: 0;width: 50%; height:40px;background: #F7F7F9;z-index: -2;}
.cal_wrap .cal_tb td.middle:after {content:''; position:absolute;top: 2px;left:0; width:100%; height:40px;background: #F7F7F9;z-index: -1;}

@media (min-width: 420px) {
   .main_wrap:after {background: url(../img/contents/main_bg_img.png) no-repeat top -200px center / contain; }
}

